<footer class="footer">
  <div class="container">
    <div class="title-img">
      <img src="../../assets/Images/logo 2.png" alt="logo" />
      <h1>კლინიკა</h1>
    </div>
    <div class="footer-info">
      <div class="footer-titles">
        <h3>ინფორმაცია</h3>
        <h3>პაციენტებისთვის</h3>
        <h3>კონტაქტი</h3>
        <h3>გამოგვყევით</h3>
      </div>
      <div class="footer-body">
        <ul>
          <li>ჩვენ შესახებ</li>
          <li>პარტნიორები</li>
          <li>ექიმებისთვის</li>
          <li>კლინიკებისთვის</li>
          <li>აფთიაქებისთვის</li>
        </ul>
        <ul>
          <li>ექიმები</li>
          <li>კლინიკები</li>
          <li>ანოტაციები</li>
          <li>ბლოგი</li>
          <li>მედია</li>
        </ul>
        <ul>
          <li>
            სამუშაო დღეები : <br />
            ორშ - პარ
          </li>
          <li>
            სამუშაო დრო : <br />
            9:00 - 17:00
          </li>
          <li>იაკობ ნიკოლაძე №10</li>
          <li>032 2 100 100</li>
        </ul>
        <ul>
          <li>Facebook</li>
          <li>Instagram</li>
          <li>Youtube</li>
        </ul>
      </div>
    </div>
  </div>
</footer>
<div class="copyright">copyright</div>
