<p-toast></p-toast>

<section class="my-profile">
  <div class="container">
    <div class="aboutme">
      <img
        [src]="
          ls?.image
            ? ls?.image
            : 'https://pic.onlinewebfonts.com/svg/img_258083.png'
        "
        alt="doc"
        class="avatar"
      />
      <div class="user-container">
        <h3 class="aboutme-role">
          {{ myProfile.name }} {{ myProfile.surname }}
        </h3>
        <div class="for-doctor" *ngIf="myProfile.categoryName">
          <span>ექიმი</span>
          <span>{{ myProfile.categoryName }}</span>
        </div>
      </div>
      <div class="aboutme-info">
        <h4>პირადი ნომერი :</h4>
        <h5>{{ myProfile.idNumber }}</h5>
      </div>
      <div class="aboutme-info">
        <h4 (click)="emailCloseOpne()">Email :</h4>
        <h5>{{ myProfile.email }}</h5>
      </div>
      <div class="aboutme-info">
        <button class="change-pas" (click)="cancelOpen()">
          პაროლის შეცვლა
        </button>
      </div>
      <div class="aboutme-info" *ngIf="myProfile.role === 'user'">
        <h4>ჩემი ჯავშანი :</h4>
        <h5>( {{ userAppointment.length }} )</h5>
      </div>
      <div class="aboutme-info" *ngIf="myProfile.role === 'doctor'">
        <h4>დაჯავშნილია :</h4>
        <h5>( {{ reserved.length }} )</h5>
      </div>
    </div>
    <div class="appointment" *ngIf="ls.role === 'doctor'">
      <div class="appointment-grid">
        <div
          *ngFor="let appointment of appointmentArr"
          [ngClass]="
            appointment.patientId === null
              ? 'appointment-item'
              : 'appointment-item res'
          "
        >
          <h2>
            {{ appointment.startTime | date : "dd/MM/yyyy HH:mm" }} -
            {{ appointment.endTime | date : "dd/MM/yyyy HH:mm" }}
          </h2>
          <img
            src="../../assets/Images/document-new-svgrepo-com 1.png"
            alt="ds"
            class="appointment-detail"
            *ngIf="appointment.patientId"
            (click)="onClick(appointment)"
          />
          <img
            src="../../assets/Images/VectorDel.png"
            alt="del"
            class="appointment-del"
            (click)="onDelete(appointment.id)"
          />
        </div>
      </div>
      <div>
        <form class="date-picker-form" (ngSubmit)="onDatePick()">
          <div class="date-picker">
            <p-calendar
              [showTime]="true"
              inputId="startDate"
              [(ngModel)]="startDate"
              [ngModelOptions]="{ standalone: true }"
            ></p-calendar>
            <p-calendar
              [showTime]="true"
              inputId="endDate"
              [(ngModel)]="endDate"
              [ngModelOptions]="{ standalone: true }"
            ></p-calendar>
          </div>
          <button type="submit">დამატება</button>
        </form>
      </div>
    </div>
    <div class="appointment" *ngIf="ls.role !== 'doctor'">
      <h2 class="header-user" *ngIf="myProfile.role === 'user'">
        ჩემი ჯავშანი <span> ( {{ userAppointment.length }} )</span>
      </h2>
      <div class="appointment-grid">
        <div
          *ngFor="let appointment of userAppointment"
          [ngClass]="
            appointment.patientId === null
              ? 'appointment-item'
              : 'appointment-item res'
          "
        >
          <h2>
            {{ appointment.startTime | date : "dd/MM/yyyy HH:mm" }} -
            {{ appointment.endTime | date : "dd/MM/yyyy HH:mm" }}
          </h2>
          <img
            src="../../assets/Images/document-new-svgrepo-com 1.png"
            alt="ds"
            class="appointment-detail"
            *ngIf="appointment.patientId"
            (click)="onClickMore(appointment)"
          />
          <img
            src="../../assets/Images/VectorDel.png"
            alt="del"
            class="appointment-del"
            (click)="onDeleteUserApp(appointment.id)"
          />
        </div>
      </div>
    </div>
  </div>
</section>

<div class="form-group" *ngIf="passwordBool">
  <form class="form" (ngSubmit)="onUpdatePasswrod()">
    <div class="form-input">
      <input
        type="password"
        id="password"
        name="password"
        [(ngModel)]="password"
        placeholder="ახალი პაროლი"
      />
    </div>
    <button type="submit">შეცვლა</button>
    <button type="button" class="cancel" (click)="cancelOpen()">X</button>
  </form>
</div>

<div class="form-group" *ngIf="emailBool">
  <form class="form" (ngSubmit)="onEmailChange()">
    <div class="form-input">
      <input
        type="text"
        id="email"
        name="email"
        [(ngModel)]="email"
        placeholder="მიუთითეთ Email"
        [disabled]="!sendCode"
      />
      <div class="email-inputs" *ngIf="!sendCode">
        <input
          type="text"
          id="confirmationToken"
          name="confirmationToken"
          [(ngModel)]="confirmationToken"
          placeholder="ძველი მეილის კოდი"
        />
        <input
          type="text"
          id="confirmationTokenEmail"
          name="confirmationTokenEmail"
          [(ngModel)]="confirmationTokenEmail"
          placeholder="ახალი მეილის კოდი"
        />
      </div>
    </div>
    <button type="button" *ngIf="sendCode" (click)="onEmailSend()">
      კოდის გაგზავნა
    </button>
    <button type="submit" *ngIf="!sendCode">შეცვლა</button>
    <button type="button" class="cancel" (click)="emailCloseOpne()">X</button>
  </form>
</div>

<div class="details-box" *ngIf="detailsBool" (click)="onClose()">
  <div class="details">
    <img [src]="details.image" alt="avatar" />
    <h4>{{ details.name }} {{ details.surname }}</h4>
    <p><span>აღწერა:</span> {{ details.des }}</p>
  </div>
</div>
