* {
  font-family: "FiraGO", sans-serif;
}

.my-profile {
  max-width: 1621px;
  width: 100%;
  margin: 0 auto;
  padding-top: 41px;
}

.container {
  display: flex;
  align-items: flex-start;
  gap: 32px;
}

.avatar {
  width: 157px;
  height: 157px;
  border-radius: 50%;
  object-fit: cover;
}
.aboutme {
  background: #ffffff;
  border: 1px solid #ecf2f8;
  box-shadow: 0px 4px 30px rgba(5, 51, 84, 0.05);
  border-radius: 10px;
  padding: 45px 105px 250px 105px;
  width: max-content;
}

.aboutme {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.aboutme-role {
  margin-top: 10px;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #18a4e1;
  text-align: center;
}

.aboutme-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 35px;
}
.user-container {
  margin-bottom: 45px;
}

.aboutme-info:last-child {
  margin-bottom: 0px;
}

.aboutme-info h4 {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #053354;
  margin-bottom: 10px;
}
.aboutme-info h5 {
  color: rgba(5, 51, 84, 0.3);
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
}

.change-pas {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  background-color: transparent;
  border: none;
  color: #053354;
  cursor: pointer;
}

.for-doctor {
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 7px;
}

.for-doctor span:first-child {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #053354;
}
.for-doctor span:last-child {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: rgba(5, 51, 84, 0.3);
}

.form-group {
  background: rgba(5, 51, 84, 0.7);
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form {
  padding: 50px 70px;
  background-color: #ffffff;
  border-radius: 10px;
  position: relative;
}
input {
  padding-block: 17px;
  padding-inline: 20px;
  border: 1px solid #053354;
  border-radius: 50px;
  width: 400px;
}

button {
  margin-top: 15px;
  padding: 15px 30px;
  border: none;
  border-radius: 20px;
  background-color: #18a4e1;
  color: #ffffff;
  cursor: pointer;
}

.cancel {
  position: absolute;
  padding: 15px;
  right: -15px;
  top: -35px;
  border-radius: 50%;
  font-size: 16px;
}

.email-inputs {
  display: flex;
  gap: 30px;
  padding-top: 30px;

  padding-bottom: 15px;
}

.appointment {
  flex: 1;
}

.date-picker {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.date-picker-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.appointment-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  padding-block: 40px;
}

.appointment-grid div {
  text-align: center;
  border: 1px solid #ecf2f8;
  background: #ecf2f8;
  border-radius: 25px;
  padding: 16px 23px;
  cursor: pointer;
}

.appointment-grid div h2 {
  font-weight: normal;
  border-radius: 25px;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #053354;
}
.appointment-item {
  position: relative;
}

.appointment-del {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 15px;
  background-color: #ff93a6;
  padding: 5px;
  border-radius: 30%;
  cursor: pointer;
}
.appointment-detail {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 50px;
  padding: 5px;
  border-radius: 30%;
  cursor: pointer;
}

.res {
  background-color: #dafaee !important;
  color: rgba(58, 207, 153, 1) !important;
}

.header-user {
  margin-left: 35px;
  font-weight: 500;
  font-size: 26px;
  line-height: 31px;

  color: #18a4e1;
}
.header-user span {
  color: rgba(5, 51, 84, 0.3);
}

.details-box {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(5, 51, 84, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
}

.details {
  background: #ffffff;
  border-radius: 10px;
  padding: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
  max-width: 600px;
}

.details img {
  width: 157px;
  height: 157px;
  object-fit: cover;
  border-radius: 50%;
}

.details h4 {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #053354;
}

.details p {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;

  color: #053354;
}

.details p span {
  color: rgba(58, 207, 153, 1);
}
