<div class="role-container" *ngIf="roleBool">
  <div class="role">
    <h3 (click)="onSelectRole('admin')">ადმინისტატორი</h3>
    <h3 (click)="onSelectRole('doctor')">ექიმი</h3>
    <h3 (click)="onSelectRole('user')">მომხმარებელი</h3>
  </div>
</div>
<section class="register">
  <div class="container">
    <h2 class="title">
      რეგისტრაცია
      {{
        role === "doctor"
          ? "ექიმი"
          : role === "admin"
          ? "ადმინისტრატორი"
          : role === "user"
          ? "მომხამრებელი"
          : ""
      }}
    </h2>
    <form class="form" (ngSubmit)="onCreateUser()">
      <div class="form-input">
        <label>სახელი</label>
        <div class="sub-input">
          <input
            type="text"
            name="name"
            id="name"
            placeholder="( მინიმუმ 5 სიმბოლო )"
            [(ngModel)]="name"
          />
        </div>
      </div>
      <div class="form-input">
        <label>Email</label>
        <div class="sub-input">
          <input
            type="email"
            name="email"
            id="email"
            [(ngModel)]="email"
            placeholder="Email"
          />
        </div>
      </div>
      <div class="form-input">
        <label>პირადი ნომერი</label>
        <div class="sub-input">
          <input
            type="text"
            name="idNumber"
            id="idNumber"
            placeholder="00000000000"
            [(ngModel)]="idNumber"
          />
        </div>
      </div>
      <div class="form-input">
        <label>გვარი</label>
        <div class="sub-input">
          <input
            type="text"
            name="surname"
            id="surname"
            placeholder="გვარი"
            [(ngModel)]="surname"
          />
        </div>
      </div>
      <div class="form-input">
        <label>პაროლი</label>
        <div class="sub-input">
          <input
            type="password"
            name="password"
            id="password"
            [(ngModel)]="password"
            placeholder="( მინიმუმ 8 სიმბოლო : @ 7 , )"
          />
        </div>
      </div>

      <div class="form-input" *ngIf="role === 'doctor'">
        <label>კატეგორია</label>
        <div class="sub-input">
          <select
            name="category"
            id="category"
            [(ngModel)]="category"
            (change)="onSelect()"
            required
          >
            <option *ngFor="let item of categories" [value]="item.categoryName">
              {{ item.categoryName }}
            </option>
          </select>
        </div>
        <span class="err2" style="margin-top: 10px">{{ errConfirm }}</span>
      </div>
      <div class="form-input">
        <label for="file">ფოტოსურათი</label>
        <div class="file-cont">
          <label for="file" class="file-label"
            ><img
              src="../../assets/Images/photo-outline-svgrepo-com 1.png"
              alt=""
          /></label>
          <p *ngIf="file" class="file-p">{{ file.name }}</p>
          <div class="sub-input">
            <input
              type="file"
              name="file"
              id="file"
              accept="image/*"
              class="file-up"
              [(ngModel)]="file"
              (change)="onChange($event)"
            />
          </div>
        </div>
      </div>
      <div class="form-input" *ngIf="role === 'doctor'">
        <label for="filePdf">CV</label>
        <div class="file-cont">
          <label for="filePdf" class="file-label"
            ><img
              src="../../assets/Images/document-new-svgrepo-com 1.png"
              alt=""
          /></label>
          <p *ngIf="filePdf" class="file-p">{{ filePdf.name }}</p>
          <div class="sub-input">
            <input
              type="file"
              id="filePdf"
              name="filePdf"
              accept="application/pdf"
              [(ngModel)]="filePdf"
              class="file-up"
              (change)="onChangePdf($event)"
            />
          </div>
        </div>
      </div>
      <div class="form-input" *ngIf="role === 'doctor'">
        <label>აღწერა</label>
        <div class="sub-input">
          <textarea
            name="description"
            [(ngModel)]="description"
            id=""
            cols="60"
            rows="2"
            class="description"
          ></textarea>
        </div>
      </div>
      <div class="sub-btn">
        <button type="submit">რეგისტრაცია</button>
      </div>
    </form>
    <h3 class="err">{{ errMsg }}</h3>
    <h3 class="succ">{{ succMSg }}</h3>
  </div>
</section>
