* {
  font-family: "FiraGO", sans-serif;
}

.doctor {
  max-width: 1621px;
  margin: 0 auto;
  width: 100%;
  padding-top: 73px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 60px;
}

.doctor-grid {
  flex: 1;
}
.categoryNameTotal {
  background: #ffffff;
  box-shadow: 0px 4px 50px rgba(5, 51, 84, 0.05);
  border-radius: 10px;
  padding-block: 30px;
  width: 350px;
}

.categoryNameTotal h3 {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  padding-bottom: 15px;
  color: #053354;
  text-align: center;
  position: relative;
}

.categoryNameTotal h3::before {
  position: absolute;
  content: "";
  width: 250px;
  height: 1px;
  background-color: rgba(236, 242, 248, 1);
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.total-name {
  display: flex;
  align-items: center;
  gap: 25px;
  padding-inline: 40px;
  padding-block: 15px;
  cursor: pointer;
}
.total-name:hover {
  background: rgba(236, 242, 248, 0.5);
}

.active {
  background: rgba(236, 242, 248, 0.5);
}

.arrow {
  flex: 1;
  text-align: end;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.total-name span:last-child {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;

  color: #053354;
}

.total-name span:first-child {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;

  color: rgba(5, 51, 84, 0.3);
}

.doctor-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.grid-item {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-block: 35px;
  padding-inline: 78px;
  background: #ffffff;
  border: 1px solid rgba(24, 164, 225, 0.3);
  box-shadow: 0px 4px 30px rgba(5, 51, 84, 0.05);
  border-radius: 10px;
  width: 390px;
}

.grid-item .avatar {
  width: 157px;
  height: 157px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 15px;
}

.grid-item h3 {
  margin-bottom: 9px;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #053354;
}

.grid-item p {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  width: 237px;
  color: rgba(5, 51, 84, 0.3);
}

.grid-item button {
  margin-top: 22px;
  display: flex;
  gap: 10px;
  align-items: center;
  border: 1px solid #ecf2f8;
  background: #ecf2f8;
  border-radius: 25px;
  padding: 16px 23px;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  cursor: pointer;
  color: #053354;
  transition: all 0.5s;
}

.grid-item button:hover {
  border: 1px solid #18a4e1;
  color: #18a4e1;
  background: transparent;
}

.show-more {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  gap: 10px;
  padding-top: 56px;
  cursor: pointer;
  position: relative;
}

.show-more::before {
  position: absolute;
  content: "";
  left: 50%;
  transform: translateX(-50%);
  height: 1px;
  background: rgba(236, 242, 248, 1);
  width: 250px;
  top: 43px;
}

.show-more h4 {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;

  color: #18a4e1;
}

.show-more img {
  transform: rotate(90deg);
}

.pin {
  position: absolute;
  top: 11px;
  right: 20px;
  cursor: pointer;
}

.popup-doctor {
  flex: 1;
  position: relative;
}

.reg-log {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background: #ffffff;
  box-shadow: 0px 4px 30px rgba(5, 51, 84, 0.2);
  border-radius: 10px;
  padding: 18px 32px;
}

.reg-log p {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: rgba(5, 51, 84, 1);
}

.reg-log p:first-child {
  margin-bottom: 5px;
  color: #ff2c52;
}

.doctor-profile {
  background: #ffffff;
  border: 1px solid #ecf2f8;
  box-shadow: 0px 4px 30px rgba(5, 51, 84, 0.05);
  border-radius: 10px;
  padding: 45px 48px;
  margin-bottom: 51px;
}

.doctor-profile-info {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.doctor-profile-info-avatar {
  display: flex;
  align-items: center;
  border-right: 1px solid #ecf2f8;

  justify-content: center;
}

.doctor-profile-info-avatar img {
  margin-right: 41px;
  width: 157px;
  height: 157px;
  border-radius: 50%;
  object-fit: contain;
}
.doctor-profile-info-avatar div {
  width: max-content;
  padding-right: 103px;
}
.doctor-profile-info-avatar div h2 {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  padding-bottom: 30px;
  color: #053354;
}
.doctor-profile-info-avatar div h3 {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;

  color: rgba(5, 51, 84, 0.3);
}

.doctor-profile-info p {
  padding-left: 51px;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: rgba(5, 51, 84, 1);
}

.appointment-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  padding-block: 40px;
}

.appointment-grid div {
  text-align: center;
  border: 1px solid #ecf2f8;
  background: #ecf2f8;
  border-radius: 25px;
  padding: 16px 23px;
  cursor: pointer;
}

.appointment-grid div h2 {
  font-weight: normal;
  border-radius: 25px;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #053354;
}
.appointment-item {
  position: relative;
}

.appointment-add {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 15px;
  background-color: rgba(218, 250, 238, 1);
  padding: 8px 10px;
  border-radius: 10%;
  cursor: pointer;
  border: none;
}

.res .appointment-add {
  display: none;
}

.res {
  background-color: #ff93a6 !important;
  color: #ff93a6 !important;
}

.selected {
  border: 3px solid #3acf99 !important;
}

.appointment-box {
  background: #ffffff;
  box-shadow: 0px 4px 30px rgba(5, 51, 84, 0.2);
  border-radius: 10px;
  padding: 25px 31px;
  position: absolute;
  right: 20px;
  display: flex;
  flex-direction: column;
}

.appointment-box p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: rgba(5, 51, 84, 1);
}

.appointment-box p:first-child {
  color: #3acf99;
  margin-bottom: 10px;
}

.appointment-box button {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  background: #3acf99;
  border-radius: 50px;
  border: none;
  padding: 14px 42px;
  color: #ffffff;
  margin-top: 15px;
  flex: 1;
  align-self: flex-end;
  cursor: pointer;
}

textarea {
  margin-top: 15px;
  border: 1px solid #ecf2f8;
  border-radius: 10px;
  resize: none;
  padding: 10px;
}
