<p-toast></p-toast>

<section class="profile-container" *ngIf="profile.id">
  <div class="profile-calendar">
    <div class="profile-add">
      <div class="profile">
        <div class="profile-info">
          <img
            src="https://as2.ftcdn.net/v2/jpg/03/30/33/29/1000_F_330332917_MO0x1tcYedbGxUM4wgATwyOkU7xY5wEI.jpg"
            alt="doc"
            class="doctor-img"
          />
          <h3>{{ profile.name }} {{ profile.surname }}</h3>
          <span>{{ role }}</span>
          <span>{{ profile.categoryName }}</span>
        </div>
        <div class="profile-change">
          <div class="change-det">
            <div>
              <img
                src="../../assets/Images/edit-svgrepo-com 6.png"
                alt="edit"
              />
              <span>პირადი ნომერი:</span>
            </div>
            <span>{{ profile.idNumber }}</span>
          </div>
          <div class="change-det">
            <div>
              <img
                src="../../assets/Images/edit-svgrepo-com 6.png"
                alt="edit"
                (click)="onEmail()"
              />
              <span>Email:</span>
            </div>
            <span>{{ profile.email }}</span>
          </div>
          <div class="change-det">
            <div>
              <img
                src="../../assets/Images/edit-svgrepo-com 6.png"
                alt="edit"
                (click)="onPassword()"
              />
              <span>პაროლის შეცვლა</span>
            </div>
          </div>
        </div>
      </div>
      <div class="add" *ngIf="ls && ls.role === 'admin'">
        <button>+ დამატება</button>
        <button>
          <img
            src="../../assets/Images/edit-svgrepo-com 6.png"
            alt="ad"
            class="edit"
          />რედაქტირება
        </button>
        <button (click)="onDelete()">
          <img src="../../assets/Images/VectorDel.png" alt="del" class="del" />
          წაშლა
        </button>
      </div>
    </div>

    <div class="appointment" *ngIf="role === 'ექიმი'">
      <div class="appointment-grid">
        <div
          *ngFor="let appointment of appointmentArr"
          [ngClass]="
            appointment.patientId === null
              ? 'appointment-item'
              : 'appointment-item res'
          "
        >
          <h2>
            {{ appointment.startTime | date : "dd/MM/yyyy HH:mm" }} -
            {{ appointment.endTime | date : "dd/MM/yyyy HH:mm" }}
          </h2>
          <img
            src="../../assets/Images/VectorDel.png"
            alt="del"
            class="appointment-del"
            (click)="onDelDoctorAppointments(appointment.id)"
          />
        </div>
      </div>
      <div *ngIf="role === 'ექიმი'">
        <form class="date-picker-form" (ngSubmit)="onDatePick()">
          <div class="date-picker">
            <p-calendar
              [showTime]="true"
              inputId="startDate"
              [(ngModel)]="startDate"
              [ngModelOptions]="{ standalone: true }"
            ></p-calendar>
            <p-calendar
              [showTime]="true"
              inputId="endDate"
              [(ngModel)]="endDate"
              [ngModelOptions]="{ standalone: true }"
            ></p-calendar>
          </div>
          <button type="submit">დამატება</button>
        </form>
      </div>
    </div>

    <div class="appointment" *ngIf="role === 'მომხმარებელი'">
      <h2 class="header-user">
        ჩემი ჯავშანი <span> ( {{ userAppointment.length }} )</span>
      </h2>
      <div class="appointment-grid">
        <div
          *ngFor="let appointment of userAppointment"
          [ngClass]="
            appointment.patientId === null
              ? 'appointment-item'
              : 'appointment-item res'
          "
        >
          <h2>
            {{ appointment.startTime | date : "dd/MM/yyyy HH:mm" }} -
            {{ appointment.endTime | date : "dd/MM/yyyy HH:mm" }}
          </h2>
          <img
            src="../../assets/Images/VectorDel.png"
            alt="del"
            class="appointment-del"
            (click)="onDeleteUser(appointment.id)"
          />
        </div>
      </div>
    </div>
  </div>
</section>
<div class="form-group" *ngIf="passwordBool">
  <form class="form" (ngSubmit)="onPasswordChange()">
    <div class="form-input">
      <input
        type="password"
        id="password"
        name="password"
        [(ngModel)]="password"
        placeholder="ახალი პაროლი"
      />
    </div>
    <button type="submit">შეცვლა</button>
    <button type="button" class="cancel" (click)="onCancel()">X</button>
  </form>
</div>
<div class="form-group" *ngIf="emailBool">
  <form class="form" (ngSubmit)="onUpdateEmail()">
    <div class="form-input">
      <input
        type="text"
        id="email"
        name="email"
        [(ngModel)]="email"
        placeholder="მიუთითეთ Email"
        [disabled]="!sendCode"
      />
      <div class="email-inputs" *ngIf="!sendCode">
        <input
          type="text"
          id="confirmationToken"
          name="confirmationToken"
          [(ngModel)]="confirmationToken"
          placeholder="ძველი მეილის კოდი"
        />
        <input
          type="text"
          id="confirmationTokenEmail"
          name="confirmationTokenEmail"
          [(ngModel)]="confirmationTokenEmail"
          placeholder="ახალი მეილის კოდი"
        />
      </div>
    </div>
    <button type="button" *ngIf="sendCode" (click)="onEmailChange()">
      კოდის გაგზავნა
    </button>
    <button type="submit" *ngIf="!sendCode">შეცვლა</button>
    <button type="button" class="cancel" (click)="onCancel()">X</button>
  </form>
</div>
