* {
  font-family: "FiraGO", sans-serif;
}

.profile-container {
  max-width: 1621px;
  margin: 0 auto;
}

.doctor-img {
  width: 157px;
  height: 157px;
  object-fit: cover;
  margin-bottom: 10px;
  border-radius: 50%;
}

.profile-calendar {
  display: flex;
  padding-top: 41px;
}

.profile {
  background: #ffffff;
  box-shadow: 0px 4px 30px rgba(5, 51, 84, 0.05);
  border-radius: 10px;
  padding: 30px 37px;
  padding-right: 50px;
  display: flex;
  align-items: flex-start;
  gap: 70px;
}

.profile-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.profile-info h3 {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #18a4e1;
  margin-bottom: 7px;
}

.profile-info span:first-child {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #053354;
}

.profile-info span:last-child {
  margin-top: 5px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: rgba(5, 51, 84, 0.3);
}

.profile-change {
  display: flex;
  flex-direction: column;
  gap: 35px;
}

.change-det {
  position: relative;
}
.change-det div img {
  position: absolute;
  left: -40px;
  top: -10px;
  opacity: 0.3;
  transition: 0.3s;
  cursor: pointer;
}
.change-det div img:hover {
  opacity: 1;
}

.change-det div span {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #053354;
}

.change-det div {
  margin-bottom: 5px;
}
.change-det span {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: rgba(5, 51, 84, 0.3);
}

.add {
  margin-top: 60px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 30px;
}

.add button:first-child {
  padding: 14px 37px;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  background: #3acf99;
  border-radius: 50px;
  color: #ffffff;
  border: none;
  cursor: pointer;
}

.add button:nth-child(2) {
  font-size: 18px;
  line-height: 22px;
  padding: 14px 37px;
  color: #18a4e1;
  background: #ecf2f8;
  border-radius: 50px;
  border: none;
  display: flex;
  align-items: center;
  gap: 15px;
  cursor: pointer;
}
.add button:nth-child(2) img {
  filter: invert(60%) sepia(30%) saturate(1121%) hue-rotate(154deg)
    brightness(85%) contrast(110%);
}

.add button:last-child {
  padding: 14px 41px;
  background: #ff93a6;
  border-radius: 50px;
  border: none;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
  display: flex;
  align-items: center;
  gap: 12px;
  cursor: pointer;
}

.form-group {
  background: rgba(5, 51, 84, 0.7);
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form {
  padding: 50px 70px;
  background-color: #ffffff;
  border-radius: 10px;
  position: relative;
}
input {
  padding-block: 17px;
  padding-inline: 20px;
  border: 1px solid #053354;
  border-radius: 50px;
  width: 400px;
}

button {
  margin-top: 15px;
  padding: 15px 30px;
  border: none;
  border-radius: 20px;
  background-color: #18a4e1;
  color: #ffffff;
  cursor: pointer;
}

.cancel {
  position: absolute;
  padding: 15px;
  right: -15px;
  top: -35px;
  border-radius: 50%;
  font-size: 16px;
}

.email-inputs {
  display: flex;
  gap: 30px;
  padding-top: 30px;

  padding-bottom: 15px;
}

.profile-add {
  margin-right: 41px;
}

.appointment {
  flex: 1;
}

.date-picker {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.date-picker-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.appointment-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.appointment-grid div {
  text-align: center;
  border: 1px solid #ecf2f8;
  background: #ecf2f8;
  border-radius: 25px;
  padding: 16px 23px;
  cursor: pointer;
}

.appointment-grid div h2 {
  font-weight: normal;
  border-radius: 25px;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #053354;
}
.appointment-item {
  position: relative;
}

.appointment-del {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 15px;
  background-color: #ff93a6;
  padding: 5px;
  border-radius: 30%;
  cursor: pointer;
}

.res {
  background-color: #dafaee !important;
  color: rgba(58, 207, 153, 1) !important;
}

.header-user {
  margin-left: 35px;
  font-weight: 500;
  font-size: 26px;
  line-height: 31px;
  margin-bottom: 35px;

  color: #18a4e1;
}
.header-user span {
  color: rgba(5, 51, 84, 0.3);
}

.date-picker-form {
  margin-top: 45px;
}
