<section class="search">
  <div class="container">
    <div class="call-loc">
      <div>
        <img src="../../assets/Images/call-svgrepo-com (3) 1.png" alt="call" />
        032 2 100 100
      </div>
      <div>
        <img
          src="../../assets/Images/location-svgrepo-com (1) 1.png"
          alt="location"
        />
        იაკობ ნიკოლაძე №10
      </div>
    </div>
    <div class="inputs-search">
      <input type="text" placeholder="მოძებნე ექიმი სახელით" />
      <input type="text" placeholder="მოძებნე სპეციალობით" />
      <button>
        <img src="../../assets/Images/ri_search-line.png" alt="search" />
      </button>
    </div>
  </div>
</section>
