<section class="register">
  <div class="container">
    <h2 class="title">რეგისტრაცია</h2>
    <form class="form">
      <div class="form-input">
        <label>სახელი</label>
        <div class="sub-input">
          <input
            type="text"
            name="name"
            id="name"
            placeholder="( მინიმუმ 5 სიმბოლო )"
          />
        </div>
      </div>
      <div class="form-input">
        <label>Email</label>
        <div class="sub-input">
          <input type="text" name="name" id="name" />
          <button>
            <img
              src="../../assets/Images/mail-right-arrow-svgrepo-com 1.png"
              alt="mail"
            />
          </button>
        </div>
      </div>
      <div class="form-input">
        <label>პირადი ნომერი</label>
        <div class="sub-input">
          <input type="text" name="name" id="name" placeholder="00000000000" />
        </div>
      </div>
      <div class="form-input">
        <label>გვარი</label>
        <div class="sub-input">
          <input type="text" name="name" id="name" placeholder="გვარი" />
        </div>
      </div>
      <div class="form-input">
        <label>აქტივაციის კოდი</label>
        <div class="sub-input">
          <span class="abs-dur">ვადა 30 წთ</span>
          <input type="text" name="name" id="name" />
        </div>
      </div>
      <div class="form-input">
        <label>პაროლი</label>
        <div class="sub-input">
          <input
            type="text"
            name="name"
            id="name"
            placeholder="( მინიმუმ 8 სიმბოლო : @ 7 , )"
          />
        </div>
      </div>
      <div class="sub-btn">
        <button type="submit">რეგისტრაცია</button>
      </div>
    </form>
  </div>
</section>
